# Before you start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# import numpy and pandas

import numpy as np
import pandas as pd

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents. Please, load the data using Ironhack's database (db: employees, table: employees_advanced).

In [2]:
# Your code here:

salaries = pd.read_csv('C:/Users/user/Documents/02 - FORMATION/Iron Hack - Data Analysis/Module 2/Current_Employee_Names__Salaries__and_Position_Titles.csv')

Examine the `salaries` dataset using the `head` function below.

In [3]:
# Your code here:
salaries.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [4]:
# Your code here:
salaries.isnull().sum()

Name                     0
Job Titles               0
Department               0
Full or Part-Time        0
Salary or Hourly         0
Typical Hours        25161
Annual Salary         8022
Hourly Rate          25161
dtype: int64

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [5]:
salaries['Salary or Hourly'].value_counts()

Salary    25161
Hourly     8022
Name: Salary or Hourly, dtype: int64

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [6]:
# Your code here:
salaries['Department'].value_counts()

POLICE                   13414
FIRE                      4641
STREETS & SAN             2198
OEMC                      2102
WATER MGMNT               1879
AVIATION                  1629
TRANSPORTN                1140
PUBLIC LIBRARY            1015
GENERAL SERVICES           980
FAMILY & SUPPORT           615
FINANCE                    560
HEALTH                     488
CITY COUNCIL               411
LAW                        407
BUILDINGS                  269
COMMUNITY DEVELOPMENT      207
BUSINESS AFFAIRS           171
COPA                       116
BOARD OF ELECTION          107
DoIT                        99
PROCUREMENT                 92
INSPECTOR GEN               87
MAYOR'S OFFICE              85
CITY CLERK                  84
ANIMAL CONTRL               81
HUMAN RESOURCES             79
CULTURAL AFFAIRS            65
BUDGET & MGMT               46
ADMIN HEARNG                39
DISABILITIES                28
TREASURER                   22
HUMAN RELATIONS             16
BOARD OF ETHICS              8
POLICE BOARD                 2
LICENSE APPL COMM            1
Name: Department, dtype: int64

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [7]:
# Your code here:
from scipy.stats import ttest_1samp

In [9]:
ttest_1samp(salaries['Hourly Rate'], popmean=30, axis=0, nan_policy='omit')

#par défaut, se place dans intervalle de confiance de 95%

Ttest_1sampResult(statistic=20.619805785494147, pvalue=4.323024048614701e-92)

In [ ]:
#H0 : salaire horaire moy = $30/h
#H1 : salaire horaire moy != $30/h

#on compare pvalue à alpha
#ici pvalue=4.323024048614701e-92 
#p<= 0.01, plus présomption contre H0 est forte
#entre 0.01 et 0.05 : forte présomption
#entre 0.05 et 0.1 : présomtion
#>0.1 : pas de présomption

#forte présomption que H0 est fausse

In [10]:
salaries['Hourly Rate'].mean()

32.78855771628128

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [ ]:
#H0 : moy salaires =< $86000/year
#H1 : moy salaires > $86000/year

In [20]:
ttest_1samp(salaries[salaries['Department'] == 'POLICE']['Annual Salary'], popmean=86000, axis=0, nan_policy='omit')

Ttest_1sampResult(statistic=3.081997005712994, pvalue=0.00206034035510054)

In [22]:
pvalue_one_tailed = 0.00206034035510054/2
pvalue_one_tailed

#pvalue très faible, < à alpha
#on rejette hypothèse nulle, on n'accepte pas H1 pour autant (on ne 'valide' jamais une hypothèse)

0.00103017017755027

In [19]:
salaries[salaries['Department'] == 'POLICE']['Annual Salary'].mean()

86486.41450313339

Using the `crosstab` function, find the department that has the most hourly workers.

In [65]:
# Your code here:
pd.crosstab(index=salaries['Department'], columns=salaries['Salary or Hourly'].sort_values(by=salaries['Hourly'], ascending=False))
#.sort_values(by=salaries['Typical Hours'], ascending=False)

KeyError: 'Hourly'

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [10]:
#H0 : moy salaires =< $35/hour
#H1 : moy salaires > $35/hour

In [37]:
ttest_1samp(salaries[salaries['Department'] == 'STREETS & SAN']['Hourly Rate'], popmean=35, axis=0, nan_policy='omit')

Ttest_1sampResult(statistic=-9.567447887848152, pvalue=3.337853056471074e-21)

In [38]:
pvalue_one_tailed_2 = 3.337853056471074e-21/2
pvalue_one_tailed_2

1.668926528235537e-21

In [ ]:
#pvalue très faible
#on rejette hypothèse nulle

# Challenge 3: To practice - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [45]:
import scipy.stats

In [43]:
salaries.shape

(33183, 8)

In [50]:
salaries['Hourly Rate'].dropna().shape

(8022,)

In [54]:
confidence_interval = scipy.stats.t.interval(0.95, df=8022-1, loc=salaries['Hourly Rate'].dropna().mean(), scale=scipy.stats.sem(salaries['Hourly Rate'].dropna()))
confidence_interval

(32.52345834488529, 33.05365708767727)

In [ ]:
#si le salaire réel n'est pas dans (32.52345834488529, 33.05365708767727), la proba à priori du résultat obtenu était inférieure à 5% (cas rare)
#si on répètait 20 fois l'échantillonnage de la distribution réelle, on pourrait calculer nouvel intervalle de confiance à chaque fois, en moyenne 19/20 fois encadrerait effectivement valeur de la moy.
#la moy se trouverait dans l'intervalle calculé
#5% * 20 = 100

#Ceci ne signifie pas que « la probabilité que la valeur réelle soit dans I(x) est 1–α », 
#ce qui n'aurait pas de sens puisque la valeur réelle n'est pas une variable aléatoire. 
#Cela signifie que « si la valeur réelle n'est pas dans I(x), 
#la probabilité a priori du résultat de l'observation que l'on a obtenu était inférieure à α ». 
#Par exemple si le paramètre n'est pas dans l'intervalle, 
#c'est que l'observation effectuée correspond à un phénomène rare dans lequel 
#l'intervalle de confiance ne contient pas la vraie valeur.

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [55]:
salaries['Annual Salary'].dropna().shape

(25161,)

In [56]:
# Your code here:
df=25161-1
mean2 = salaries[salaries['Department'] == 'POLICE']['Annual Salary'].dropna().mean()

confidence_interval2 = scipy.stats.t.interval(0.95, df=df, loc=mean2, scale=scipy.stats.sem(salaries[salaries['Department'] == 'POLICE']['Annual Salary'].dropna()))
confidence_interval2

(86177.06937045981, 86795.75963580697)

# Bonus Challenge - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [61]:
import statsmodels.api as sm

https://www.statsmodels.org/stable/generated/statsmodels.stats.proportion.proportions_ztest.html

In [ ]:
statsmodels.stats.proportion.proportions_ztest(count, nobs, value=None, alternative='two-sided', prop_var=False)